# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
**/__pycache__/

# Virtual Environment
venv/
env/
ENV/
.env
venv
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Project specific
backend/data/raw/*
backend/data/processed/*
!backend/data/raw/.gitkeep
!backend/data/processed/.gitkeep
backend/kaggle.json

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Logs
*.log
logs/

backend/craveai-fe879-firebase-adminsdk-luguj-675b503635.json
backend/new_embedding_model_v2/.env
backend/.env
